# Byte-compiled / optimized / DLL files / Virtual Environment
__pycache__/
*.py[cod]
venv/
.venv/

# SQLite3 database files:
# *.db
# *.sqlite3
# *.sqlite

# Logs:
# logs/
*.log

# Environment variables
local.env

# Django stuff:
# CACHE/        # Disable for Heroku container deployment
media/
*.pot
database/

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# JS Compress
**/CACHE/