{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% static "site/img/canada-map-full.svg" as background_image_url %}

{% block head_title %}
  {{ block.super }} - {{ block.super }}
{% endblock head_title %}

{% block keywords %}
  django_tw keywords.
{% endblock keywords %}

{% block description %}
  django_tw description.
{% endblock description %}

{% block extra_head_script %}
{% endblock extra_head_script %}

{% block navbar_left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock navbar_left %}

{% block navbar_right %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock navbar_right %}

{% block splash %}
{% endblock splash %}

{% block content %}
  <div class="m-5 mt-20">
    <div class="row">
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
        </p>
        <p>
          <a class="btn btn-primary" href="#" role="button">View details</a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
